{% extends 'menu.html' %}

{% block content %}
  <h1>Lista de Produtores</h1>
  <p>Exemplo de conteúdo.</p>

    {% if user.is_authenticated %}
    <a href="{% url 'produtores:novo_Produtor' %}" class="btn btn-primary">+ Adicionar Novo Produtor </a>
    {% endif %}

     <p>  
        {% comment %} o <p> é só para dar uma certa distancia entre o texto e os botões {% endcomment %}
    
<ul>
    {% for produtor in produtores %}
      <li style="margin-bottom: 10px;">
        <strong>{{ produtor.nome }}</strong> - {{ produtor.idade }} anos <br> {{ produtor.bio }} <br>
        <img src="{{ produtor.foto.url }}" alt="{{ produtor.nome }}" width="150">

         <p>  
        {% comment %} o <p> é só para dar uma certa distancia entre o texto e os botões {% endcomment %}

        {% if user.is_authenticated %}
          <br>
          <a href="{% url 'produtores:editar_Produtor' produtor.pk %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'produtores:deletar_Produtor' produtor.pk %}" class="btn btn-danger">Excluir</a>
        {% endif %}
      </li>
    {% empty %}
      <p>Nenhum Produtor cadastrado.</p>
    {% endfor %}
</ul>

{% endblock %}