{% extends 'menu.html' %}

{% block content %}
  <h1>Lista de estilistas</h1>
  <p>Exemplo de conteúdo.</p>
 
    {% if user.is_authenticated %}
    <a href="{% url 'estilistas:novo_Estilista' %}" class="btn btn-primary">+ Adicionar Novo Estilista </a>
    {% endif %}

     <p>  
        {% comment %} o <p> é só para dar uma certa distancia entre o texto e os botões {% endcomment %}
    
<ul>
    {% for estilista in estilistas %}
      <li style="margin-bottom: 10px;">
        <strong>{{ estilista.nome }}</strong> - {{ estilista.idade }} anos <br> {{ estilista.bio }} <br>
        <img src="{{ estilista.foto.url }}" alt="{{ estilista.nome }}" width="150">

       <p>  
        {% comment %} o <p> é só para dar uma certa distancia entre o texto e os botões {% endcomment %}


        {% if user.is_authenticated %}
          <br>
          <a href="{% url 'estilistas:editar_Estilista' estilista.pk %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'estilistas:deletar_Estilista' estilista.pk %}" class="btn btn-danger">Excluir</a>
        {% endif %}
      </li>
    {% empty %}
      <p>Nenhum Estilista cadastrado.</p>
    {% endfor %}
</ul>

{% endblock %}
