{% extends 'menu.html' %}

{% block content %}
  <h1>Lista de Cabeleleiros</h1>
  <p>Exemplo de conteúdo.</p>
 
    {% if user.is_authenticated %}
    <a href="{% url 'cabeleireiros:novo_Cabeleireiro' %}" class="btn btn-primary">+ Adicionar Novo Cabeleireiro </a>
    {% endif %}

    <p>  
        {% comment %} o <p> é só para dar uma certa distancia entre o texto e os botões {% endcomment %}
    
<ul>
    {% for cabeleireiro in cabeleireiros %}
      <li style="margin-bottom: 10px;">
        <strong>{{ cabeleireiro.nome }}</strong> - {{ cabeleireiro.idade }} anos <br> {{ cabeleireiro.bio }} <br>
        <img src="{{ cabeleireiro.foto.url }}" alt="{{ cabeleireiro.nome }}" width="150">

        <p>

        {% if user.is_authenticated %}
          <br>
          <a href="{% url 'cabeleireiros:editar_Cabeleireiro' cabeleireiro.pk %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'cabeleireiros:deletar_Cabeleireiro' cabeleireiro.pk %}" class="btn btn-danger">Excluir</a>
        {% endif %}
      </li>
    {% empty %}
      <p>Nenhum Cabeleireiro cadastrado.</p>
    {% endfor %}
</ul>
{% endblock %}


